body{
  margin:0;
  padding:0;
}

.login-page {
  width: 100vw;
  min-height: 100vh;
  background-image: url(/images/login.jpg?c9cebb87f5d50ecd09318799fde196e2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-page .login-page__title {
  color: white;
  border-bottom: 2px solid white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login-page .login-form {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
}
.login-page .login-form .login-form__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .login-form .login-form__item .login-form__item--icon {
  color: white;
}
.login-page .login-form .login-form__item .login-form__item--input {
  height: 30px;
  margin: 20px 0;
  background-color: transparent;
  border: none;
  color: white;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.login-page .login-form .login-form__item .login-form__item--input:focus {
  outline: none;
}
.login-page .login-form .login-form__item--button {
  padding: 15px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin: 20px 0;
  transition: 0.4s ease-in-out;
}
.login-page .login-form .login-form__item--button:focus {
  outline: none;
}
.login-page .login-form .login-form__item--button:hover {
  background-color: white;
  color: black;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.login-page .login-form .login-form__item--register-button {
  color: white;
  padding: 20px 0;
}
.login-page .login-form .login-form__item--register-button a {
  text-decoration: none;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-moz-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

::-webkit-input-placeholder {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .login-form {
    margin: 0 !important;
    padding: 0 !important;
  }
}
